<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sports.mapper.SysGroupingModuleMapper" >
    <resultMap id="BaseResultMap" type="com.example.sports.model.SysGroupingModule" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
        <result column="competition_id" property="competitionId" jdbcType="INTEGER" />
        <result column="project_id" property="projectId" jdbcType="VARCHAR" />
        <result column="team_type" property="teamType" jdbcType="VARCHAR" />
        <result column="competitors" property="competitors" jdbcType="INTEGER" />
        <result column="records" property="records" jdbcType="INTEGER" />
        <result column="printed" property="printed" jdbcType="INTEGER" />
        <result column="ext" property="ext" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, create_time, update_time, competition_id, project_id,
        team_type, competitors, records, printed, ext
    </sql>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into sys_grouping_info
        (create_time, update_time, competition_id, project_id, team_type, competitors, records, printed, ext)
        VALUES
        <foreach collection ="groupingModules" item="module" index= "index" separator =",">
            (
            #{module.createTime}, #{module.updateTime},
            #{module.competitionId},#{module.projectId},
            #{module.teamType}, #{module.competitors},#{module.records}, #{module.printed},#{module.ext}
            )
        </foreach >
    </insert>

    <select id="select" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_grouping_info
        WHERE competition_id=#{competitionId} and project_id=#{projectId} and team_type=#{teamType}
    </select>

    <update id="update">
        UPDATE sys_grouping_info
        SET
        <if test="module.competitors!=null">
            competitors=competitors+#{module.competitors},
        </if>
        <if test="module.records!=null">
            records=#{module.records},
        </if>
        <if test="module.printed!=null">
            printed=#{module.printed},
        </if>
        <if test="module.updateTime!=null">
            update_time=#{module.updateTime}
        </if>
        WHERE
        competition_id=#{module.competitionId} and project_id=#{module.projectId} and team_type=#{module.teamType}
    </update>

    <insert id="insert" parameterType="com.example.sports.model.SysGroupingModule" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sys_grouping_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="competitionId != null" >
                competition_id,
            </if>
            <if test="projectId != null" >
                project_id,
            </if>
            <if test="teamType != null" >
                team_type,
            </if>
            <if test="competitors != null" >
                competitors,
            </if>
            <if test="records != null" >
                records,
            </if>
            <if test="printed != null" >
                printed,
            </if>
            <if test="ext != null" >
                ext,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="createTime != null" >
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="competitionId != null" >
                #{competitionId,jdbcType=INTEGER},
            </if>
            <if test="projectId != null" >
                #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="teamType != null" >
                #{teamType,jdbcType=VARCHAR},
            </if>
            <if test="competitors != null" >
                #{competitors,jdbcType=INTEGER},
            </if>
            <if test="records != null" >
                #{records,jdbcType=INTEGER},
            </if>
            <if test="printed != null" >
                #{printed,jdbcType=INTEGER},
            </if>
            <if test="ext != null" >
                #{ext,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.sports.model.SysGroupingModuleExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from sys_grouping_info
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_grouping_info
        WHERE id > #{id} and  competition_id=#{competitionId} limit #{pageSize}
    </select>


</mapper>