<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sports.mapper.SysProjectSignMapper" >
  <resultMap id="BaseResultMap" type="com.example.sports.model.SysProjectSign" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="sys_user_sid" property="sysUserSid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="competition_id" property="competitionId" jdbcType="BIGINT" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="team_type" property="teamType" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>


  <sql id="Base_Column_List" >
    id, create_time, update_time, order_id, sys_user_sid, username, competition_id, group_name, project_id,
    project_name, team_type, score, place, ext
  </sql>

  <insert id="insert" parameterType="com.example.sports.model.SysProjectSign" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_project_sign (create_time, update_time, order_id, sys_user_sid, username, competition_id, group_name, project_id,
    project_name, team_type, score, place, ext)
    values (#{createTime,jdbcType=BIGINT}, , #{updateTime,jdbcType=BIGINT}, #{orderId, jdbcType=INTEGER}, #{sysUserSid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
    #{competitionId,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR},
    #{projectId,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{teamType,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE},
    #{place,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.example.sports.model.SysProjectSign" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_project_sign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="sysUserSid != null" >
        sys_user_sid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="competitionId != null" >
        competition_id,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="teamType != null" >
        team_type,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="ext != null" >
        ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},,
      </if>
      <if test="sysUserSid != null" >
        #{sysUserSid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="competitionId != null" >
        #{competition_id,jdbcType=BIGINT},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="teamType != null" >
        #{teamType,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  <insert id="batchInsert" parameterType="java.util.List">
    insert into sys_project_sign
    (create_time, update_time, order_id, sys_user_sid, username, competition_id, group_name, project_id,
    project_name, team_type,  place, ext)
    VALUES
    <foreach collection ="records" item="record" index= "index" separator =",">
      (
      #{record.createTime}, #{record.updateTime}, #{record.orderId},
      #{record.sysUserSid},#{record.username},#{record.competitionId},
      #{record.groupName}, #{record.projectId}, #{record.projectName},
      #{record.teamType}, #{record.place},#{record.ext}
      )
    </foreach >
  </insert>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.sports.model.SysProjectSignExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_project_sign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <update id="updateByExample" parameterType="map" >
    update sys_project_sign
    set score = #{score, jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="batchUpdate" parameterType="java.util.Map">
    <foreach collection="records" separator=";" item="record">
      update sys_project_sign set
      score = #{record.score}
      where competition_id = #{record.competitionId} and group_name = #{record.groupName} and team_type=#{record.teamType}
      and project_id = #{record.projectId} and order_id=#{record.orderId} and place=#{record.place}
    </foreach>
  </update>

</mapper>