<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>运动管理信息系统</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
	<link rel="stylesheet" href="assets/css/ace.min.css" />
	<link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
	<link rel="stylesheet" href="assets/css/ace-skins.min.css" />
	<script src="assets/js/ace-extra.min.js"></script>
	<script src="assets/js/arrayList.js"></script>
	<script src="assets/js/myjs/my.js"></script>


	<style>
		/*弹框*/
		html{height: 100%;}
		body{position: relative;height: 100%;}
		.dialogbody{position: absolute;z-index: 999;width: 100%;height: 100%;background: rgba(0,0,0,.8);top: 0;left: 0;display: none;}
		.dialogbox{position: absolute;display: block;width: 800px;height: 400px;background: #fff;border-radius: 15px;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
		.dialogbox .close{position: absolute;display: block;width: 50px;height: 50px;background: url(assets/images/Close.png) no-repeat 100% center;top: 20px;right: 20px;}
	</style>
</head>

<body>
<div id="appuserList">
	<!--头部 Begin-->
	<div class="navbar navbar-default" id="navbar">
		<script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed')
            } catch(e) {}
		</script>

		<div class="navbar-container" id="navbar-container">
			<div class="navbar-header pull-left">
				<a href="#" class="navbar-brand">
					<small>
						<i class="icon-leaf"></i>
						运动管理信息系统
					</small>
				</a>
			</div>

			<div class="navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">
					<li class="light-blue">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo" />
							<span class="user-info">
									<small>欢迎光临</small>
									<strong id="username"></strong>

								</span>

							<i class="icon-caret-down"></i>
						</a>

						<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<div class="col-sm-offset-2 col-sm-10">
									<i class="icon-off"></i>
									<button type="button" onclick="logout()" class="btn btn-default">退出</button>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<!-- /.ace-nav -->
			</div>
			<!-- /.navbar-header -->
		</div>
		<!-- /.container -->
	</div>
	<!--头部 End-->

	<!--主体部分 Begin-->
	<div class="main-container" id="main-container">
		<script type="text/javascript">
            try {
                ace.settings.check('main-container', 'fixed')
            } catch(e) {}
		</script>

		<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>

			<!--左侧导航 Begin-->
			<div class="sidebar" id="sidebar">
				<script type="text/javascript">
                    try {
                        ace.settings.check('sidebar', 'fixed')
                    } catch(e) {}
				</script>

				<ul class="nav nav-list" id="navlist">
					<li class="active navshowa">
						<a href="index.html">
							<i class="icon-dashboard"></i>
							<span class="menu-text">首页</span>
						</a>
					</li>

					<li class="active navshowa1">
						<a href="project.html">
							<i class="icon-text-width"></i>
							<span class="menu-text">项目管理</span>
						</a>
					</li>

					<li class="active navshowa2">
						<a href="#" class="dropdown-toggle">
							<i class="icon-desktop"></i>
							<span class="menu-text">成绩查询</span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">
							<li class="navshowa21">
								<a href="search_person.html">
									<i class="icon-double-angle-right"></i> 个人查询
								</a>
							</li>

							<li class="navshowa22">
								<a href="search_school.html">
									<i class="icon-double-angle-right"></i> 院系查询
								</a>
							</li>
						</ul>
					</li>

					<li class="active navshowa3">
						<a href="#" class="dropdown-toggle">
							<i class="icon-list"></i>
							<span class="menu-text">学生报名管理</span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">
							<li class="navshowa31">
								<a href="enter.html">
									<i class="icon-double-angle-right"></i> 报名
								</a>
							</li>

							<li class="navshowa32">
								<a href="enter_msg.html">
									<i class="icon-double-angle-right"></i> 报名信息查询
								</a>
							</li>
						</ul>
					</li>

					<li class="active navshowa4">
						<a href="addscore.html" class="dropdown-toggle">
							<i class="icon-edit"></i>
							<span class="menu-text">成绩录入</span>
						</a>
					</li>

					<li class="active navshowa5">
						<a href="usermsg.html" class="dropdown-toggle">
							<i class="icon-apple"></i>
							<span class="menu-text">权限管理</span>
						</a>
					</li>
				</ul>
				<!-- /.nav-list -->
			</div>
			<!--左侧导航 End-->

			<!--右侧内容 Begin-->
			<div class="main-content">
				<!--面包屑导航 Begin-->
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
                        try {
                            ace.settings.check('breadcrumbs', 'fixed')
                        } catch(e) {}
					</script>

					<ul class="breadcrumb">
						<li>
							<i class="icon-home home-icon"></i>
							<a href="index.html" class="active">首页</a>
						</li>
					</ul>
				</div>
				<!--面包屑导航 End-->

				<!--内容 Begin-->
				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<h3 class="smaller lighter blue">
								用户权限
								<button class="btn btn-info dialogalert" style="float: right;" data-toggle="modal" data-target="#myModal">
									添加
									<i class="icon-print  align-top bigger-125 icon-on-right"></i>
								</button>
							</h3>

							<div class="table-responsive">
								<table id="sample-table-2" class="table table-striped table-bordered table-hover">
									<thead>
									<tr>
										<th>序号</th>
										<th>学号</th>
										<th class="hidden-480">姓名</th>
										<th>权限</th>
										<th>修改</th>
										<th>删除</th>
									</tr>
									</thead>

									<tbody>
									<tr v-for="item in userList">
										<td>{{(item.id)}}</td>
										<td>{{item.sId}}</td>
										<td>{{item.name}}</td>
										<td><strong>{{item.roleName}}</strong></td>
										<td align="center">
											<a class="pointer btn btn-primary" data-toggle="modal" data-target="#myModal2" @click="modify(item)">修改</a>
										</td>
										<td><a class="pointer btn btn-primary" @click="withdelete(item)">删除</a></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!--内容 End-->
			</div>
		</div>
		<!--主体部分 End-->


	</div>


	<!--添加弹框-->
	<!-- 模态框（Modal1） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						添加权限用户
					</h4>
				</div>
				<div class="modal-body">

					<!--PAGE CONTENT BEGINS-->
					<form class="form-horizontal" role="form" id="addAdmin">
						<div class="space-4"></div>

						<div class="form-group">
							<label class="col-sm-5 control-label no-padding-right">学号:</label>

							<div class="col-sm-6">
								<input type="text" name="sId"  placeholder="" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="space-4"></div>

						<div class="form-group">
							<label class="col-sm-5 control-label no-padding-right">姓名:</label>

							<div class="col-sm-6">
								<input type="text" name="name"  placeholder="" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="space-4"></div>


						<div class="form-group">
							<label class="col-sm-5 control-label no-padding-right" >权限列表:</label>

							<div class="col-sm-6">
								<div class="checkbox">
									<label><input type="checkbox" name="roleId" value="1"> 项目管理</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" name="roleId" value="2">成绩查询</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" name="roleId" value="3">报名管理</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" name="roleId" value="4">成绩录入</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" name="roleId" value="5">权限控制</label>
								</div>
							</div>
						</div>
						<div class="space-4"></div>

					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						关闭
					</button>
					<button type="button" class="btn btn-primary" onclick="addAdmin()">
						提交
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>

	<!--修改模态框-->
	<!-- 模态框（Modal1） -->
	<!--
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">
                                修改权限
                            </h4>
                        </div>
                        <div class="modal-body">

                            &lt;!&ndash;PAGE CONTENT BEGINS&ndash;&gt;
                            <form class="form-horizontal" role="form">
                                <div class="space-4"></div>

                                    <div class="form-group">
                                        <label class="col-sm-5 control-label no-padding-right">Id:</label>

                                        <div class="col-sm-6">
                                            <input type="text" v-model="id"  class="col-xs-10 col-sm-5" readonly="readonly"/>
                                        </div>
                                    </div>

                                <div class="space-4"></div>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label no-padding-right">姓名:</label>

                                    <div class="col-sm-6">
                                        <input type="text" v-model="name"  class="col-xs-10 col-sm-5" readonly="readonly"/>
                                    </div>
                                </div>

                                <div class="space-4"></div>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label no-padding-right" >权限列表:</label>

                                    <div class="col-sm-6">
                                        <input type="checkbox" id="jack" value="Jack" v-model="roleId">
                                        <label for="jack">Jack</label>
                                        <input type="checkbox" id="john" value="John" v-model="roleId">
                                        <label for="john">John</label>
                                        <input type="checkbox" id="mike" value="Mike" v-model="roleId">
                                        <label for="mike">Mike</label>
                                        <br>
                                        <span>Checked names: {{ roleId }}</span>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                关闭
                            </button>
                            <button type="button" class="btn btn-primary" @click="getmodify()">
                                提交
                            </button>
                        </div>

                    </div>&lt;!&ndash; /.modal-content &ndash;&gt;
                </div>&lt;!&ndash; /.modal-dialog &ndash;&gt;
            </div>
    -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabe2">
						修改权限用户
					</h4>
				</div>
				<div class="modal-body">

					<!--PAGE CONTENT BEGINS-->
					<form class="form-horizontal" role="form">
						<div class="space-4"></div>

						<div class="form-group">
							<label class="col-sm-5 control-label no-padding-right">学号:</label>

							<div class="col-sm-6">
								<input type="text" v-model="sId"  placeholder="" class="col-xs-10 col-sm-5" readonly/>
							</div>
						</div>

						<div class="space-4"></div>

						<div class="form-group">
							<label class="col-sm-5 control-label no-padding-right">姓名:</label>

							<div class="col-sm-6">
								<input type="text" v-model="name"  placeholder="" class="col-xs-10 col-sm-5" readonly/>
							</div>
						</div>

						<div class="space-4"></div>


						<div class="form-group">
							<label class="col-sm-5 control-label no-padding-right" >权限列表:</label>

							<div class="col-sm-6">
								<div class="checkbox">
									<label><input type="checkbox" v-model="roleId" value="1"> 项目管理</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" v-model="roleId" value="2">成绩查询</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" v-model="roleId" value="3">报名管理</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" v-model="roleId" value="4">成绩录入</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" v-model="roleId" value="5">权限控制</label>
								</div>
							</div>
						</div>
						<div class="space-4"></div>

					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						关闭
					</button>
					<button type="button" class="btn btn-primary" @click="getmodify()">
						提交
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>


</div>

<script src="assets/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>" + "<" + "script>");
</script>
<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "script>");
</script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/typeahead-bs2.min.js"></script>
<script src="assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="assets/js/jquery.slimscroll.min.js"></script>
<script src="assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="assets/js/jquery.sparkline.min.js"></script>
<script src="assets/js/flot/jquery.flot.min.js"></script>
<script src="assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="assets/js/flot/jquery.flot.resize.min.js"></script>
<script src="assets/js/ace-elements.min.js"></script>
<script src="assets/js/ace.min.js"></script>
<script src="assets/js/myjs/index.js"></script>
<script src="assets/js/vue.min.js"></script>

<script type="text/javascript">
    function addAdmin() {

        // alert($('#addAdmin').serialize());
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            data: $('#addAdmin').serialize(),
            url: "/roleController/addAdmin",//url
            async: false,
            success: function (result) {
                if (result) {
                    alert("添加成功！");
                    window.location.href = "/static/usermsg.html";//你可以跟换里面的网址，以便成功后跳转
                }
                ;
            },
            error: function () {
                alert("异常！");
            }
        });

    }

</script>


<script type="text/javascript">

    /*
        id (integer, optional): id ,
        name (string, optional): 姓名 ,
        roleName (Array[Inline Model 1], optional): 权限名称 1 项目管理 2 成绩查询 3 学生报名管理 4 成绩录入 5 权限管理 ,
        sId (integer, optional): 学号
    *
    * */
    var appuserList = new Vue({
        el:'#appuserList',
        data: {
            id: null,
            name: null,
            sId: null,
            roleName: [],
            roleId:[],
            // checkedNames:[],
            userList:[]
        },
        methods: {
            //加载用户列表
            getAdminroleList: function(data,page) {
                var self = this;
                data.pageNum = 1;

                $.ajax({
                    type: 'post',
                    dataType: 'JSON',
                    url: "/roleController/adminRoleList",
                    success: function(result)
                    {
                        self.userList = result.data.list;
                        // alert("列表加载成功！");
                    },
                    error: function(){
                        alert("加载失败！");
                    }
                })
            },

            closeBegin: function(){
                $(".dialogbody").hide();
            },
            //修改
            modify: function(item){
                this.id = item.id;
                this.name = item.name;
                this.sId = item.sId;
                this.roleId=item.roleId;
                // alert( this.roleId);
                $(".dialogbody").show();
            },

            //删除
            withdelete: function(item){
                // alert("111");
                var self = this;
                if (confirm("确定要删除？")) {
                    self.id = item.id;
                    self.hasdelete(self.id);
                }
            },

            hasdelete: function(id){
                // alert(333);
                var self = this;
                $.ajax({
                    type: 'post',
                    data: {id: id},
                    url: "/roleController/delectAdmin",
                    success:function(result){
                        alert("删除成功！");
                        window.location.href = "/static/usermsg.html";

                    }
                })
            },

            getmodify: function(){
                // var self = this;
                // alert(this.name);
                // alert(this.roleId);

                $.ajax({
                    type: 'post',
                    data: {
                        id: this.id,
                        roleId: this.roleId.toString(),
                        sId:this.sId
                    },
                    url: "/roleController/modifyAdmin",
                    success:function(result){
                        alert("修改成功！");
                        window.location.href = "/static/usermsg.html";
                    }
                })
            }
        },

        created: function(){
            //传过去page默认值
            this.getAdminroleList({
                pageSize: 20,pageNum:1});
        }
    });

</script>

</body>
</html>