<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sports.mapper.sys.SysMapper">

    <select id="selectByProjectId" resultType="com.example.sports.dto.response.SchoolScoreRes"
            parameterType="java.lang.Integer">
    SELECT
    b.name AS NAME ,
    a.sys_user_sid AS sid ,
    c.team_type AS teamType ,
    c.sys_project_id AS sysProjectId,
    c.achievement AS achievement,
    c.match_type AS matchType,
  c.sport_type AS sportType,
    d.name AS sysCollegeName,
    e.name AS sysProjectName

FROM sys_user_student  a,
    sys_user  b,
    sys_grading_module  c,
    sys_college d,
    sys_project e
WHERE
  c.sys_user_student_id = a.id
AND   a.sys_college = d.id
AND   b.sid = a.sys_user_sid
AND     c.sys_project_id = e.id
AND c.sys_project_id = #{id , jdbcType = INTEGER}
    ORDER BY c.achievement DESC
    LIMIT 0,3;
  </select>
    <select id="selectByProject" resultType="com.example.sports.dto.response.SchoolScoreRes">
       SELECT
      b.name AS name ,
      a.sys_user_sid AS sid ,
      c.team_type AS teamType ,
      c.sys_project_id AS sysProjectId,
      c.achievement AS achievement,
      d.name  AS sysCollegeName,
      e.name AS sysProjectName
      FROM sys_user_student  a,
      sys_user  b,
      sys_grading_module  c,
      sys_college d,
      sys_project e
      WHERE
      a.id = c.sys_user_student_id
      AND
      a.sys_user_sid = b.sid
    AND d.id = a.sys_college
    AND c.sys_project_id  = e.id
    GROUP BY d.name
    ORDER BY C.achievement
    LIMIT 0,3
    </select>
</mapper>